body{
    background-color: aquamarine;
    font-style: italic;
    font-size: medium;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 175%;
    font-weight: 300;
    line-height: 1.3;
    /*background: radial-gradient(circle, #ff9966, #ff5e62);*/
    background: linear-gradient(135deg, #112c1b, #25A059);
}
.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*border: 1px solid black;*/
    padding: 20px;
    height: 400px;
}
.cal-display {
    background-color: #112c1b;
    color: #ccc;
    text-align: right;
    padding: 40px;
    width: 200px;
    font-size: 2em;
    height: 0.5em;
    margin-top: 70px;
}
/*.cal-display {
    border-radius: 12px;
    box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    max-width: 15em;
    overflow: hidden;
    background-color: black;
}*/
.calculator-keys-0,
.calculator-keys-1,
.calculator-keys-2,
.calculator-keys-3
{
    display: flex;
    align-items: center;
    padding: 20px;
}

button {
    margin-right: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.1s ease;
    /*background-color: transparent;*/
    color: #ccc;
    background-color: #112c1b;
}
button:hover{
    opacity: 0.8;
}
.calculator-keys-3 button{
    padding-right: 33px;
}
